{% extends 'layout.html' %}

{% block body %}
<section style="margin-top:150px;" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Cluster your Customer Information!</h1>
        <p class="lead text-muted">Knowing the customer's behavior is one of the key factors of a successful business.
            This system will help to create different categories of the customers so their spending behavior can be
            understood easily.
        </p>
        <p>
            <a href="/upload" class="btn btn-primary my-2">Get Started</a>
        </p>
    </div>
</section>
{% endblock %}