{% extends 'layout.html' %}

{% block body %}
<section style="margin-top:150px;" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">How to use?</h1>
        <p class="lead text-muted">This guide will help to understand the system step by step.</p>
        <ol>
            <li>Go to the home page and press the button get started, this action will redirect to upload page</li>
            <li>csv file can be uploaded on this page by pressing upload button and selecting the file from local
                machine and press submit.</li>
            <li>Instructions to upload file</li>
            <ul>
                <li>Make sure that file name is "Mall_Customers"</li>
                <li>only ".csv" extension is allowed</li>
            </ul>
            <li>Pressing the submit button will lead to results page where one can get the generated results</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p>
        </p>
    </div>
</section>
{% endblock %}