{% extends 'layout.html' %}

{% block body %}
<section style="margin-top:150px;" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Upload the csv file</h1>
        <p>Please Check out the instructions before uploading the file<a href="/use"> here</a></p>

        <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
            <input class="btn btn-success my-2" type="file" name="file" />
            <input type="submit" class="btn btn-primary my-2" />
        </form>
    </div>
</section>
{% endblock %}